# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments
.venv/
env/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Microservice SQLite DBs
*.db
*.db-journal

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temp / Fix scripts
webapp-logs.zip
views_fixed.py
